@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;700&display=swap');

:root {
  font-size: 16px;
  --blue: #134280;
  --more-light: #3564A2;
  --green: #DDDB00;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*, input, button {
  font-family: 'Work Sans', sans-serif;
}

img {
  max-width: 100%;
}

html, body {
  height: 100%;
}

.container {
  max-width: 980px;
  margin: 0 auto;
}

.topbar-container, .content {
  width: 100%;
}

.topbar-container {
  background-color: var(--blue);
  padding: 12px;
}

.topbar {
  height: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

i.fa-circle {
  width: 32px;
  cursor: pointer;
}

i.fa-circle.on {
  color: #2ecc71;
}

i.fa-circle.on:hover {
  color: #1dbb60;
}

i.fa-circle.off {
  color: #e74c3c;
  transition: 0.4s;
}

i.fa-circle.off:hover {
  color: #d63b2b;
}

.content {
  background-color: #FFF;
  margin-bottom: 0px !important;
  height: calc(100% - 73.89px);
}

.content > * {
  height: 100%;
}

.selectarea {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.selectarea .select {
  margin-right: 10px;
}

.logo-container {
  width: 200px;
  margin-right: 1rem;
  display: flex;
  align-items: center;
}

nav {
  display: flex;
  align-items: center;
  height: 100%;
}

.logout {
  text-decoration: none;
  font-size: 1.5rem;
  position: relative;
  color: white;
  transition: 0.4s;
}

.logout:hover {
  color: var(--green);
}

.home {
  display: flex;
}

.content > * {
  padding: 12px;
}

.qr, .form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.form form {
  text-align: center;
  width: 60%;
  max-width: 400px;
}

.form form h2 {
  color: var(--blue);
}


.form form button[type=submit] {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.form form span {
  font-weight: bold;
}

.form form button[type=submit] i {
  margin-left: 7px;
}

.form form input  {
  width: 100%;
  padding: 1rem;
}

.form form input + input {
  margin-top: 10px;
}

.qr {
  width: 50%;
  height: 100%;
  text-align: center;
}

.qr-container {
  max-width: 260px;
  width: 100%;
}

button.button.is-info {
  background-color: var(--blue);
  transition: 0.4s;
}

button.button.is-info:hover {
  background-color: var(--more-light);
}

button.button.is-danger {
  background-color: #c0392b;
  transition: 0.4s;
}

button.button.is-danger:hover {
  background-color: #e25b4d;
}

.form {
  width: 50%;
  height: 100%;
}

.qr > *:not(.qr-container){
  margin-top: 10px;
}

.dropdown-custom {
  color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 1px solid white;
  padding: 4px 8px;
  margin-left: 24px;
  cursor: pointer;
  border-radius: 6px;
  position: relative;
  top: 2px;
  width: 100px;
  transition: 0.2s;
}

.dropdown-custom:hover {
  color: rgba(255, 255, 255, 0.75);
  border: 1px solid rgba(255, 255, 255, 0.75);
}


.dropdown-custom ul {
  transition: 0.4s;
  position: absolute;
  top: 120%;
  left: 0;
  box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.3);
  min-width: 170px;
}

.dropdown-custom ul li {
  background-color: white;
  padding: 7px;
  transition: 0.2s;
  display: block;
  color: #000;
}

.dropdown-custom ul li a{
  display: block;
  padding: 0 10px;
}

.dropdown-custom ul li:not(.link){
  text-align: center;
}

.dropdown-custom ul li.link:hover {
  background-color: #eeeeee;
}

.dropdown-custom ul li a:hover {
  color: var(--more-light);
}

.dropdown-custom ul li{
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
}

.dropdown-custom span {
	font-weight: bold;
	margin-right: 10px;
}

.register, .send, .queue {
  display: flex;
  justify-content: center;
  align-items: center;
}

.queue {
  flex-direction: column;
}

.register-platform, .send-platform {
  text-align: center;
  width: 95%;
  max-width: 400px;
  background-color: white;
  border-radius: 4px;
  padding: 14px;
  border: 1px solid #DDD;
}

.register-platform h2,
.send-platform h2 {
  font-size: 1.7rem;
  color: var(--blue);
}

.queue-container {
  max-width: 1280px;
  height: 100%;
  overflow: auto;
}

@media (max-width: 861px){

  .home {
    flex-direction: column;
  }

  .qr {
    width: 100%;
  }

  .form, .form form {
    width: 100%;
  }

  .form {
    margin-top: 50px;
  }

  .topbar {
    flex-direction: column;
    justify-content: center;
  }

  .topbar nav {
    margin-bottom: 10px;
  }
}

@media (max-width: 528px){
  .selectarea .select {
    margin-right: 0;
  }
  .selectarea {
    flex-direction: column;
  }

  .selectarea > *:not(:first-child){
    margin-top: 10px;
  }

  .topbar nav {
    flex-direction: column;
    align-items: center;
  }

  .topbar nav > *:not(:first-child){
    margin-top: 10px;
  }

  .content > * {
    height: auto;
  }

  .content {
    height: auto;
  }
}
