@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;700&display=swap');


:root {
    --green: #2B9F3E;
    --blue: #134280;
    --light-blue: #3564A2;
  }

  input:-webkit-autofill {
    -webkit-text-fill-color: white;
    -webkit-box-shadow: 0 0 0px 1000px #134280 inset;
  }


  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 0;
    border: 0;
  }

  html, body {
    height: 100vh;
    scroll-behavior: smooth;
  }

  body {
      background-color: #DDDB00;
  }

  *, input, button {
      font-family: 'Work Sans', sans-serif;
  }


  img {
    width: 100%;
  }

  .login-container {
    height: 100vh;
    background-color: #DDDB00;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .form-container {
    width: 100%;
    max-width: 450px;
    background-color: var(--blue);
    color: white;
    text-align: center;
    padding: 40px;
    border-radius: 20px;
  }

  .form-container > h2 {
    font-size: 1.6em;
    font-family: 'Work Sans', sans-serif;
    margin: 12px 0;
  }


  .form-container img {
    max-width: 300px;
  }

  .form-container .input-container {
    margin: 10px 0;
  }

  .form-container .input-container input {
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    background: transparent;
    border: 2px solid white;
    color: white;
  }

  .form-container .input-container input::placeholder {
    color: white;
    font-size: 1em;
  }

  .form-container a {
    text-decoration: none;
    color: white;
  }

  .form-container button[type=submit]{
    margin: 15px 0 0 0;
    padding: 7px 12px;
    background-color: white;
    border-radius: 8px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
    cursor: pointer;
    transition: .4s;
    color: var(--blue);
  }

  .form-container button[type=submit]:hover {
      color: #3564A2;
  }


  .form-container a:hover {
    text-decoration: underline;
  }

  span.error {
    display: inline-block;
    margin-top: 10px;
    color: #DDDB00;
    font-weight: bold;
  }

  .platform-admin span.error {
    color: red;
    margin: 5px 0;
  }


  .dash-container {
    height: 100vh;

    display: flex;
    justify-content: start;
  }

  .sidebar {
    min-width: 180px;
    width: 15%;
    background-color: #FDC317;
    height: 100vh;

    position: relative;

    display: none;
    flex-direction: column;
    align-items: flex-start;
    padding: 12px 15px;
  }

  .sidebar img {
    max-width: 100%;
  }

  .sidebar ul {
    text-align: left;
    list-style-position: inside;
    list-style-type: none;
    margin-top: 50px;
    width: 100%;
  }

  .sidebar-mobile ul {
    list-style-position: inside;
    list-style-type: none;
  }


  .sidebar ul li {
    width: 100%;
  }

  .sidebar ul li:hover a {
    color: var(--light-blue);
  }


  .sidebar a {
    text-decoration: none;
    color: var(--blue);
    display: block;
    font-weight: bold;
    transition: 0.2s;
    font-size: 1.5em;
  }

  .sidebar-mobile a {
    text-decoration: none;
    color: var(--blue);
    display: block;
  }

  .sidebar-mobile {
    padding: 12px 0;
  }

  .sidebar-mobile li {
    display: inline-block;
  }

  .sidebar-mobile ul a {
    padding: 10px 15px;
  }

  .sidebar-mobile ul a, .sidebar ul a {
    font-family: 'Work Sans';
    font-weight: bold;
    font-size: 114%;
  }

  .sidebar ul >  li + li {
    margin-top: 4px;
  }

  .sidebar > img {
    margin-top: 20px;
  }

  .logout {
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 10px;
    left: 40%;
    transform: translateX(-50%);
  }

  .logout img {
    max-width: 64px;
  }

  .content {
    width: 100%;
    background-color: #F7F7F7;
    height: 100vh;

    padding: 2vw 4vw;

    overflow-y: scroll;
  }

  h1.title-city {
    font-size: 2em;
    font-weight: bold;
    text-transform: uppercase;
    color: var(--blue);
  }

  .platform {
    padding: 12px;
    background-color: white;
    border: 1px solid #EEE;
    color: var(--blue);
  }

  .sidebar-mobile {
    display: none;
    min-width: 40px;
  }

  .numbers {
    width: 100%;
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
    color: var(--blue);
  }

  .br-default {
    border-radius: 4px;
  }

  .number {
    padding: 12px 0;
    width: 22%;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }


  .number > div:not(.circle) {
    display: flex;
    align-items: center;
  }

  .circle {
    background-color: var(--blue);
    padding: 15px;
    border-radius: 50%;
    border-top-right-radius: 0;
    position: relative;
  }

  .yellow {
    background-color: #FDC317;
  }

  .circle i {
    position: absolute;
    color: white;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 13px;
  }

  .number > div h2 {
    font-size: 2em;
    margin-right: 10px;
  }

  .main {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 20px;
  }

  .graphics {
    width: 48%;
  }

  .type {
    margin-top: 20px;
  }

  .messages {
    width: 48%;
  }

  .messages p {
    margin-top: 10px;
    font-size: 1.1em;
    text-align: justify;
  }

  .messages-table {
    margin-top: 60px;
    text-align: center;
    color: var(--blue);
    border-collapse: collapse;
      border-spacing: 0;
  }

  .messages-table thead tr th {
    background-color: white;
    padding: 12px;
    text-transform: uppercase;
  }

  .messages-table tbody tr td:last-child {
    text-align: justify;
  }

  .messages-table tbody tr td {
    padding: 10px 5px;
  }

  .messages-table tbody tr td img {
    max-width: 32px;
  }

  .pages {
    margin-top: 35px;
    text-align: center;
  }

  .pages a {
    text-decoration: none;
    color: var(--blue);
  }

  .pages a {
    font-weight: bold;
    display: inline-block;
    padding: 10px;
  }

  .pages a:hover, .sidebar-mobile ul a:hover {
    color: var(--light-blue);
  }

  .pages a.active {
    color: var(--green);
  }

  .feelings {
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
  }

  .feelings > .internal {
    width: 49%;
  }

  .admin {
    margin: 32px 0;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: flex-start;
  }


  .platform-admin {
    width: 100%;
    text-align: center;
    max-width: 400px;
    margin-top: 10px;
  }


  .platform-admin form {
    margin-top: 15px;
    display: flex;
    place-content: center;
    flex-direction: column;
  }

  .platform-admin form button[type=submit]{
    margin-top: 15px;
    padding: 12px;
    background-color: var(--light-blue);
    color: white;
    cursor: pointer;
    transition: 0.4s;
    border-radius: 4px;
  }

  .platform-admin form button[type=submit]:hover {
    background-color: var(--blue);
  }

  .platform-admin form input, .platform-admin form select {
    padding: 6px;
    border: 1px solid #CCC;
    border-radius: 4px;
    background: transparent;
  }

  .platform-admin form input + input,
  input + select {
    margin-top: 10px;
  }

  ul a.off {
    text-decoration: line-through;
    color: #e74c3c;
    transition: 0.4s;
  }

  .sidebar ul a.off:hover, .sidebar-mobile ul a.off:hover {
    color: #c0392b;
  }

  .per-themes-neighborhood {
    margin-top: 60px;
  }

  .per-themes-neighborhood .platform {
    width: 80%;
    margin: 0 auto;
  }

  .per-themes-neighborhood .platform + div{
    margin-top: 15px;
  }

  @media screen and (max-width: 1200px){
    .number {
      width: 30%;
    }
  }

  @media screen and (max-width: 715px){

    h1.title-city {
      font-size: 1.5em;
    }

    .feelings {
      margin-top: 30px;
    }

    .messages-table tbody tr td:last-child {
      padding: 4%;
    }

    .number {
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    .number > div:not(.circle) h2{
      font-size: 1.2em;
    }

    .number > div:not(.circle) h4 {
      font-size: 1em;
    }

    .circle {
      padding: 12px;
      border-radius: 50%;
      border-top-right-radius: 0;
      position: relative;
    }
  }

  @media screen and (max-width: 638px){
    .numbers {
      flex-direction: column;
      align-items: center;
    }

    .number {
      width: 100%;
    }

    .number + .number {
      margin-top: 15px;
    }
  }


  @media screen and (max-width: 450px){

    .per-themes-neighborhood .platform {
      width: 100%;
      margin: 0 auto;
    }

    h1.title-city {
      font-size: 1.2em;
    }
    .login-container {
      padding: 4%;
    }

    .form-container {
      padding: 4%;
      border-radius: 12px;
    }
  }

  @media screen and (max-width: 992px) {
    .sidebar ul li a,
    .sidebar-mobile ul li a {
      font-size: 1em;
    }
  }

  @media screen and (max-width: 851px){
    .feelings {
      flex-direction: column;
    }

    .feelings > .internal {
      width: 100%;
    }

    .feelings > .internal + div {
      margin-top: 20px;
    }

    .dash-container {
      flex-direction: column;
    }

    .sidebar-mobile {
      display: block;
      width: 100%;
      text-align: center;
      background-color: #FDC317;
    }

    .content {
      width: 100%;
    }

    .main {
      flex-direction: column;
    }
    .graphics {
      margin-bottom: 20px;
    }

    .graphics{
      width: 100%;
    }

    .participants{
      width: 100%;
    }

    .messages {
      width: 100%;
    }

    .main {
      flex-direction: column;
    }
    .graphics {
      margin-bottom: 20px;
    }

    .graphics{
      width: 100%;
    }

    .participants{
      width: 100%;
    }

    .messages {
      width: 100%;
    }
  }

  @media screen and (min-width: 852px) {


    .sidebar {
      display: flex;
    }

    .content {
      width: 100%;
    }
  }

  @media screen and (max-width: 300px) {
    .messages-table {
      margin-top: 30px;
    }

    h1.title-city{
      font-size: 1.4em;
    }
  }

  @media screen and (max-width: 300px) {
    .messages-table {
      margin-top: 30px;
    }

    h1.title-city{
      font-size: 1.4em;
    }
  }
